html {
  background: url('SJU2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  margin-top: 0%;
}

#head{
  text-align: center;
  margin-bottom: 0%;
  color: white;
}

ul {
  list-style-type: none;
  margin-top: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
}

a {
  font-family: 'Roboto Slab', serif;
  color: white;
  text-decoration: none;
}
a:hover{
  color: white;
  background-color: black;
}

#nav li {
  display: inline;
  float: center;
  font-size: 2em;
  margin-top: 0%;
  margin-left: 2%;
  margin-right: 2%;
}

#hawk {
  color: white;
  font-size: 5.5em;
  text-align: center;
  margin-bottom: 0%;
  font-family: 'Pacifico', cursive;
}

#text{
  text-align: center;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: .8em;
  padding: 15px;
  margin: 10px;
  float: left;
  box-sizing: border-box;
  width: 300px;
}

#main{
  margin-right: 10%;
  margin-left: 10%;
}
script{
  width: 800px;
  padding: 15px;
  margin: 10px;
  float: left;
  box-sizing: border-box;
}
